logs/
cert/
*.log
*.json
*.so
*.node
node_modules
node_modules/
npm-debug.log*
typings.json 
pids/
release/
*.pid
*.seed
lib-cov/ 
coverage/ 
*.nyc_output 
*.grunt 
*.lock-wscript 
build/Release/ 
jspm_packages/
typings/ 
*.npm 
*.node_repl_history
__pycache__/ 
venv/
.vs
